<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <meta name="description" content="URL Shortener Microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        URL Shortener Microservice
      </h1>
    </header>

    <main>
      <p><strong>Welcome to <a href="https://twitter.com/ChickenN00dle" target="_blank">Chickenn00dle</a>'s URL Shortener Microservice.</strong></p>
      <p>Using the provided URL, add an additional URL to be shortened. The Shortener Microservice will serve the URL in JSON format (along with the original).</p>
      <div class="box">
        <p>
          <strong>Example:</strong>
        </p>
        <p>
          <a href="https://noodles-shortener.glitch.me/foobar.com/path/path/index.html">https://noodles-shortener.glitch.me/foobar.com/path/path/index.html</a>
        </p>
        <p>
          <strong>Should result in:</strong>
        </p>
        <code>
          {"original": "https://noodles-shortener.glitch.me/foobar.com/path/path/index.html", "shortened": "https://noodles-shortener.glitch.me/xyz"}
        </code>
      </div>
    </main>

    <footer>
      <a href="https://twitter.com/ChickenN00dle">
        Check me out on Twitter
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
