* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background: #f6f6f6;
  padding: 1rem;
  flex: 0 1 100%;
  width: 95%
}

h1 {
  color: blue;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}

code {
  background: white;
  border-radius: 5px;
}

footer {
  padding: 1rem;
}

footer > a {
  color: #e0e0e0;
}

@media screen and (min-width: 600px) {
  main {
    width: 50%;
  }
}

